---
import {
  type Category,
  getCategoryColor,
} from '../../constants/category-colors'
import { slugify } from '../../lib/slugify'
import type { FeatureData } from '../../types'
import styles from '../dashboard.module.css'
import { LinkIcon } from '../icons'
import StaticCard from './StaticCard.astro'

interface Props {
  category: Category
  features: FeatureData[]
}

const { category, features } = Astro.props
const slug = slugify(category)
const categoryColor = getCategoryColor(category)
---

<details open data-category={category}>
  <summary
    class={`${styles.categoryHeader} glass`}
    style={`--category-color: ${categoryColor}`}
  >
    <h2 id={slug} class={styles.categoryTitle}>{category}</h2>
    <a class={styles.anchorLink} href={`#${slug}`}>
      <span aria-hidden="true">
        <LinkIcon />
      </span>
      <span class="srOnly">Link to section {category}</span>
    </a>
  </summary>
  <dl class={styles.featuresGrid} data-category-grid={category}>
    {features.map(feature => <StaticCard feature={feature} />)}
  </dl>
</details>
